<h3>Hey, I am Pushkar Singh</h3>
<p>Welcome to my online home, his site hosts my writing on self development, psychology and my journey of being a self taught developer. I have also showcased all my completed and in progress projects here.</p> 
<form action="/subscribe" method="post">
    <input type="email" name="subscriberEmail" id="">
    <button type="submit">Subscribe!</button>
</form>