<div class="hero-section">
    <div class="hero-image-container">
        <img class="hero-image" src="/public/Assets/hero-image.svg" alt="Pushkar Singh">
    </div>
    <div class="hero-content">
        <h3>Hey, I am Pushkar Singh</h3>
        <p class="hero-subtext">Welcome to my online home, his site hosts my writing on self development, psychology and my journey of being a self taught developer. I have also showcased all my completed and in progress projects here.</p> 
    </div>
</div>
<div class="cta-section">
    <h4>Subscribe to my awesome blog!</h4>
    <form action="/subscribe" method="post">
        <input class="secondary-input" type="email"   
        placeholder="Your Awesome Email"
        name="subscriberEmail" id="">
        <button class="primary-button" type="submit">Subscribe!</button>
    </form>
</div>
