<%- include('partials/header') %> 

<div class="container">
    <h3>Login to access Admin Panel</h3>
    <br>
    <br>

<form action="/login" method="post">
    <input class="secondary-input login" type="text" name="username" placeholder="Enter Username">
    <br>
    <input class="secondary-input login" type="password" name="password" id="" placeholder="Enter Password" />
    <br>
    <button type="submit" class="cta-button login login-button">Log in</button>
</form>
</div>