<%- include('partials/header') %>
<div class="newpost-section">
    <!-- <h2 class="section-header">Create a new post</h3>  -->
    <div class="new-post">
    <form class="newpost-form" action="/newpost" method="post">
    <!-- <label for="">Post Title</label> -->
    <br>
    <input autocomplete="off" class="primary-input" type="text" name="postLabel" placeholder="Enter Post Title Here">
    <br>
    <textarea class="blog-input" name="postText" id="" cols="30" rows="10" placeholder="Type your post here..."></textarea>
    <br>
    <input class="third-input" type="text" name="postTags" placeholder="Enter post tags">
    <br>
    <button autocomplete="off" class="cta-button" type="submit">Post</button>
    </form>
   </div>
</div>