<%- include('partials/header') %>
<div class="subscribers-content">
    <h2 class="header-subs">Subscriber Emails</h2>
    <ol class="list-subs">
        <% list.forEach((emails)=> { %>
            <li class="subs-list"><%= emails.email %> </li>
       <%  }) %> 
    </ol>
</div>
